#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.black {
    background: black;
}

.white {
    background: white;
}