body {
    margin: 0;
    font-family: Arial;
    background: #1e1e1e;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background: #2b2b2b;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    gap: 4px;
    margin: auto;
}

.cell {
    background: #0f6b2f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.cell:hover {
    background: #0d5c29;
}

.black, .white {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.black {
    background: black;
}

.white {
    background: white;
}

.valid {
    box-shadow: inset 0 0 0 3px rgba(0, 179, 255, 0.7);
}

.message {
    margin-top: 20px;
    padding: 10px;
    background: #444;
    border-radius: 6px;
}