.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    gap: 5px;
}

.cell {
    background: #0f6b2f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.cell:hover {
    background: #0d5c29;
}

.black, .white {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.black {
    background: black;
}

.white {
    background: white;
}

.valid {
    box-shadow: inset 0 0 0 3px yellow;
}